<link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid-theme.min.css" rel="stylesheet">
<%- include('partials/header.ejs') %> 
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/brand/trologo.png" alt="" width="72" height="72">
    <h2>ตรอ.เหล่ายาวบริการ</h2>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-1">
      <% if (parseInt(vehicleId) > 0) { %>
      <h4 class="mb-3">แก้ไขข้อมูลรถ</h4>
      <% } else { %>
      <h4 class="mb-3">เพิ่มข้อมูลรถ</h4>
      <% } %>

      <form method="POST" action="/vehicles/form" class="needs-validation" novalidate>
        <input type="hidden" id="vehicleId" name="vehicleId" value="<%= vehicleId %> ">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="vehicleType">ประเภท</label>
            <input type="text" class="form-control" id="vehicleType" name="vehicleType" placeholder=""
              value="<%= vehicleInfo.sType %>" required>
            <div class="invalid-feedback">
              กรุณากรอก ประเภทรถ
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="vehicleBrand">ยี่ห้อ</label>
            <input type="text" class="form-control" id="vehicleBrand" name="vehicleBrand" placeholder=""
              value="<%= vehicleInfo.sBrand %>" required>
            <div class="invalid-feedback">
              กรุณากรอก ยี่ห้อรถ
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="model">โมเดล <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="model" name="model" placeholder=""
              value="<%= vehicleInfo.sModel%> ">
            <div class="invalid-feedback">
              กรุณากรอก โมเดลให้่ถูกต้อง
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="vin">เลขตัวถัง</label>
            <input type="vin" data-mask="000 0000 000" class="form-control" id="vin" name="vin"
              value="<%= vehicleInfo.sVin %> " required>
            <div class="invalid-feedback">
              กรุณากรอก เลขตัวถัง
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="registrationNumber">เลขทะเบียน</label>
          <input type="text" class="form-control" id="registrationNumber" name="registrationNumber"
            placeholder="กง 9811" value="<%= vehicleInfo.sRegistrationNumber %> " required>
          <div class="invalid-feedback">
            กรุณากรอก เลขทะเบียน
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">บันทึก</button>
        <hr class="mb-4">
      </form>
    </div>
  </div>
  <% if (parseInt(vehicleId) > 0) { %>
  <h4 class="mb-3">ข้อมูล ลูกค้า</h4>
  <div id="jsGrid"></div>
  <%- include('partials/confirm.ejs' ,{parentId:vehicleId}) %>
  <p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CustomerFormModal">
      เพิ่ม รายชื่อลูกค้า
    </button>
  </p>
  </div>
  <% } %>
  <!-- Modal -->
  <div class="modal fade" id="CustomerFormModal" tabindex="-1" role="dialog" aria-labelledby="CustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CustomerModalLabel">เพิ่มข้อมูลลูกค้า </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      <form id="customerform" method="POST" action="/customers/form" class="needs-validation" novalidate>
        <input type="hidden" id="cust_vehicleId" name="vehicleId" value="<%= vehicleId %> ">
        <input type="hidden" name="customerId" id="customerId">
          <div class="col-md-12 order-md-1">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">ชื่อ</label>
                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    กรุณากรอก ชื่อ
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">นามสกุล</label>
                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    กรุณากรอก นามสกุล
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="email">อีเมลล์ <span class="text-muted">(Optional)</span></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="">
                  <div class="invalid-feedback">
                    กรุณากรอก อีเมลล์ให้่ถูกต้อง
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="phonenumber">เบอร์โทรศัพท์</label>
                  <input type="phonenumber" data-mask="000 0000 000" class="form-control" id="phonenumber" name="phonenumber" value="" required>
                  <div class="invalid-feedback">
                    กรุณากรอก เบอร์โทรศัพท์
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="address">ที่อยู่</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" value="" required>
                <div class="invalid-feedback">
                  กรุณากรอก ที่อยู่
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="country">ประเทศ</label>
                  <select class="custom-select d-block w-100" id="country" name="country" required>
                    <option value="1">ไทย</option>
                  </select>
                  <div class="invalid-feedback">
                    กรุณาเลือก ประเทศ
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="state">จังหวัด</label>
                  <select class="custom-select d-block w-100" id="state" name="state" required>
                    <option value="LP">ลำพูน</option>
                  </select>
                  <div class="invalid-feedback">
                    กรุณาเลือก จังหวัด
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="zip">รหัสไปรษณี</label>
                  <input type="text" class="form-control" id="zip" name="zip" placeholder="" value="51130" required>
                  <div class="invalid-feedback">
                    กรุณากรอก รหัสไปรษณี
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sameaddress" name="sameaddress">
                <label class="custom-control-label" for="sameaddress">ส่งข่าวสารแจ้งเตื่อน</label>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>     
          <button type="submit" class="btn btn-primary">ยืนยัน</button>
    </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer.ejs') %> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid.min.js"></script>
  <script src="/jsgrid.js"></script>